*{
  margin: 0;
  padding: 0;
}

header{
  display: flex;
  justify-content: space-between;
  padding: 10px 100px 50px 100px;

}

.main{
  background-color: #1F2937;
}

main{
  display: flex;
  justify-content: center;
}

main > div{
  max-width: 400px;
  padding-bottom: 50px;
}

main p{
  font-size: 18px;
  color: #E5E7EB;
}

.logo{
  color:#F9FAF8;
  font-size: 24px;
  list-style: none;
}

li{
  list-style: none;
  display: inline;
}
a{
  text-decoration: none;
  color: #E5E7EB;
  font-size: 18px;
}

h1{
  font-size: 48px;
  font-weight: extra-bold;
  color:#F9FAF8;
}

.information{
  color:#1F2937;
  font-size: 36px;
  font-weight: extra-bold;
  text-align: center;
  padding: 25px;
}

div.boxes img{
  border-radius: 10px;
}
.boxes{
  display: flex;
  justify-content: center;
}

div > img + p{
  max-width: 140px;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 5px 30px;
  margin-left: -25px;

}

.section3{
  background-color: #E5E7EB;
  color:#1F2937;
  display: flex;
  flex-direction: column;
}

.quote{
  font-size: 36px;
  font-weight: light;
  font-style: italic;
  padding: 80px 100px 0px 100px;
}

div > span{
  font-size: 18px;
  font-weight: bold;
  font-style: normal;

}

.thor{
  text-align: right;
  padding-right: 130px;
  padding-bottom: 70px;
}
button{
  background-color: #3882F6;
  color: #F9FAF8;
  border-radius: 5px;
  padding: 5px 20px;
  margin-top: 10px;
  border: none;
}

.call-action button{
  border: 1.5px solid white;
}

.call-action{
  background-color: #3882F6;
  border-radius: 5px;
  display: flex;
  margin: 80px;
  font-size: 18px;
  color: white;
  padding: 30px 50px;
  display: flex;
  justify-content: space-around;
}

footer{
  background-color: #1F2937;
  color: #E5E7EB;
  text-align: center;
  padding: 20px;
}